<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot del Vasquito</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>

<body>
    <h1>El ChatBot del Vasqito</h1>
    <h2>Materiales para la Construcción</h2>
    <h4>Hormigon Elaborado</h4>

    <div id="chatbot-container">
        <div id="chatbot-header" onclick="toggleChatbot()">El Chatbot del Vasqito</div>
        <div id="chatbot-body" style="display: none">
            <div id="chatbot-messages"></div>
            <input type="text" id="chat-input" placeholder="escribí tu consulta" onkeypress="handleEnter(event)" />
            <button onclick="sendMessages()">Send</button>
        </div>
    </div>

    <script>
        function toggleChatbot() {
            var chatBody = document.getElementById("chatbot-body");
            chatBody.style.display = chatBody.style.display === "none" ? "block" : "none";
        }

        function sendMessages() {
            var input = document.getElementById("chat-input");
            var message = input.value;
            input.value = "";

            fetch("/chatbot", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: `message=${encodeURIComponent(message)}`,
            })
                .then((response) => response.json())
                .then((data) => {
                    var chatMessages = document.getElementById("chatbot-messages");
                    chatMessages.innerHTML += `<div class="message-user">Tu: ${message}</div>`;
                    chatMessages.innerHTML += `<div class="message-bot">Dodi-Bot: ${data.response}</div>`;
                    chatMessages.scrollTop = chatMessages.scrollHeight;
                })
                .catch((error) => console.error("Error: ", error));
        }

        function handleEnter(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                sendMessages();
            }
        }
    </script>
</body>
</html>